@model IEnumerable<ProductData.Booking>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-title display-1">
            <b>Your Bookings</b>
        </h1>
        <h4 class="jumbotron-subtitle">
            @Html.ActionLink("Create a new booking.", "Index", "Package")
        </h4>
        <div class="text-center">
            <h5><u>Total Cost Owing</u></h5>
            <h6>@ViewBag.Total</h6>
        </div>
    </div>
</section>
<table class="d-block">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.BookingNo)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripType.Ttname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package.PkgName)@* WE WILL HAVE THIS LATER BUT FOR CURRENT CUSTOMERS ITS NULL*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package.PkgBasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.BookingNo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TravelerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripType.Ttname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package.PkgName)@* WE WILL HAVE THIS LATER BUT FOR CURRENT CUSTOMERS ITS NULL*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package.PkgBasePrice)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Details", "Details", "Package", new { id = item.PackageId, pageTracker = 1 })
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

