@model ProductData.Package

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<section class="jumbotron text-center">
    <h1>
        <b> Package Details</b>
    </h1>
</section>
    <div class="jumbotron-package">
        <dl>
            <dt class="row">
                Package ID:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PackageId)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.PkgName):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PkgName)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.PkgStartDate):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PkgStartDate)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.PkgEndDate):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PkgEndDate)
            </dd>
            <dt class="row">
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PkgDesc)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.PkgBasePrice):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PkgBasePrice)
            </dd>
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PkgAgencyCommission)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PkgAgencyCommission)
                </dd>*@
        </dl>
        @if (ViewBag.ProductList != null)
        {
            <h4><u>Products Included In Package</u></h4>
            @foreach (var prod in ViewBag.ProductList)
            {
                <h6>@prod.ProdName</h6>
            }
        }
</div>
<div class="center-package">
    @if (ViewBag.PageTracker == 1)
    {
        <input class="button1" type="button" value="Back" onclick="location.href='@Url.Action("Index","Booking")'" />
    }
    else if (ViewBag.PageTracker == 0)
    {
        <input class="button1" type="button" value="Back" onclick="location.href='@Url.Action("Index","Package")'" />
    }
</div>